[submodule "third_party/qjs"]
	path = third_party/qjs
	url = https://github.com/touken928/qjs
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "third_party/thread-pool"]
	path = third_party/thread-pool
	url = https://github.com/bshoshany/thread-pool.git
