[submodule "third_party/qjs"]
	path = third_party/qjs
	url = https://github.com/touken928/qjs
[submodule "third_party/libuv"]
	path = third_party/libuv
	url = https://github.com/libuv/libuv.git
	branch = v1.x
[submodule "third_party/uvw"]
	path = third_party/uvw
	url = https://github.com/skypjack/uvw.git
