[submodule "third_party/sokol"]
	path = third_party/sokol
	url = https://github.com/floooh/sokol.git
[submodule "third_party/slowjs"]
	path = third_party/slowjs
	url = https://github.com/touken928/slowjs
